<table class='table'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let page of pages ">
			<td>{{page.id}}</td>
			<td>{{page.title}}</td>
			<td>{{page.action}}</td>
		</tr>
	</tbody>
</table>

<table class='table'>
	<thead>
		<tr>
			<th>Time</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items">
			<td>{{item.timeSend | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
			<td>{{item.message}}</td>
		</tr>
	</tbody>
</table>

<form class="form-signin" (submit)="sendMessage(message.value)">
	<div class="row">
		<div class="col-sm-8">
			<input type="text" [(ngModel)]="messageModel" [ngModelOptions]="{standalone: true}" class="form-control" id="message" #message  />
		</div>
		<div class="col-sm-4">
			<button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
		</div>
	</div>
</form>