<!--The content below is only a placeholder and can be replaced.-->

<!--<div class="row">
  <div class="col-xs-12 col-sm-12 ">
      <header>
        <div style="text-align:center">
          <h1>
            Welcome to OMG {{title}} App!
          </h1>
        </div>
      </header>
  </div>

  <div class="col-xs-6 col-sm-12">
      <div id='main'>
      <article>
          <router-outlet></router-outlet>
      </article>
    </div>
</div>

<div class="menu">
  <div style="text-align:center">
    <hello-menu-bar></hello-menu-bar>
  </div>
</div>
</div>-->

<hello-header></hello-header>
<div class='container2'>
  <div class='content2'>
    <router-outlet></router-outlet>
  </div>
</div>

