<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }" ></ngx-loading>
<header>
	<h2>บทความล่าสุด</h2>
</header>
<div id='main'>
	<article>
		<div class="row">
			<div class="col-sm-12">
				<div class="row row-sm">
					<div class="col-sm-6 layout-card" *ngFor="let item of items;">
						<div class="card-deck-wrapper" (click)="getBlogId(item.id, item.title_url)">
							<div class="card-deck">
								<div class="card">
									<div class="card-block">
										<div class="row">
											<div class="col-12 col-sm-6 col-md-5 col-lg-5">
												<img class="col-12 float-left" [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64, '+item.image_title)" alt="">
											</div>
											<div class="col-12 col-sm-6 col-md-7 col-lg-7">
												<h4 class="card-title">{{item.title | limitTo : 20}}</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</article>
</div>