@import url('https://fonts.googleapis.com/css?family=Kanit|Lobster');
body {
    font-family: 'Kanit' !important;
}
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
        font: 16px Helvetica;
        
    }
    .row {
        margin-right: 0px !important;
        margin-left: 0px !important; 
    }

    #main {
        min-height: 800px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
    }
 
    #main > article {
        margin: 4px;
        padding: 10px;
        border: 1px solid #cccc33;
        border-radius: 7pt;
        flex: 3 1 80%;
        order: 2;
    }

    #main > nav {
        margin: 4px;
        padding: 5px;
        flex: 1 6 10%;
        order: 1;
    }
  
    #main > aside {
        margin: 4px;
        padding: 5px;
        flex: 1 6 10%;
        order: 3;
    }
    header {
        display: block;
        margin: 4px;
        margin-top: 55px;
        padding-top: 10px;
        min-height: 100px;
        border: 1px solid lightseagreen;
        border-radius: 7pt;
    }
 
    footer {
        display: block;
        margin: 4px;
        padding: 5px;
        min-height: 100px;
        border: 1px solid lightseagreen;
        border-radius: 7pt;
    }

    #menu {
        display: block;
        margin: 4px;
        padding: 5px;
        min-height: 100px;
        border: 1px solid #fff222;
        border-radius: 7pt;
        background: #ffeebb;
    }
 */
